<form autocomplete="off">
  {{#unless isCharacter}}
  <div class="form-group">
    <label for="wildcard">{{localize "SWADE.Wildcard"}}</label>
    <div class="form-fields">
      <input
        type="checkbox"
        name="data.wildcard"
        id="wildcard"
        {{checked
        data.wildcard}}
      />
    </div>
  </div>
  {{/unless}}
  <div class="form-group">
    <label>{{localize "SWADE.BenniesMax"}}</label>
    <div class="form-fields">
      <input
        class="bennies-max"
        name="data.bennies.max"
        type="text"
        value="{{data.bennies.max}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "SWADE.WoundsMax"}}</label>
    <div class="form-fields">
      <input
        type="text"
        name="data.wounds.max"
        value="{{data.wounds.max}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "SWADE.FatigueMax"}}</label>
    <div class="form-fields">
      <input
        type="text"
        name="data.fatigue.max"
        value="{{data.fatigue.max}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <div class="form-group">
    <label for="data.wounds.ignored">{{localize "SWADE.IgnWounds"}}</label>
    <div class="form-fields">
      <input
        id="data.wounds.ignored"
        name="data.wounds.ignored"
        type="text"
        value="{{data.wounds.ignored}}"
        data-dtype="Number"
      />
    </div>
  </div>
  <h2>{{localize "SWADE.Init"}}</h2>
  <div class="form-group">
    <label for="hasLevelHeaded">{{localize "SWADE.LevelHeaded"}}</label>
    <div class="form-fields">
      <input
        type="checkbox"
        name="data.initiative.hasLevelHeaded"
        id="hasLevelHeaded"
        {{checked
        data.initiative.hasLevelHeaded}}
      />
    </div>
  </div>
  <div class="form-group">
    <label for="data.hasImpLevelHeaded"
      >{{localize "SWADE.ImprovedLevelHeaded"}}</label
    >
    <div class="form-fields">
      <input
        type="checkbox"
        name="data.initiative.hasImpLevelHeaded"
        id="hasImpLevelHeaded"
        {{checked
        data.initiative.hasImpLevelHeaded}}
      />
    </div>
  </div>
  <div class="form-group">
    <label for="hasHesitant">{{localize "SWADE.Hesitant"}}</label>
    <div class="form-fields">
      <input
        type="checkbox"
        name="data.initiative.hasHesitant"
        id="hasHesitant"
        {{checked
        data.initiative.hasHesitant}}
      />
    </div>
  </div>
  <footer class="sheet-footer">
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "Save Changes"}}
    </button>
  </footer>
</form>
