<div class="flexrow inventory-info">
  <span
    >{{localize "SWADE.CarryWeight"}}
    <span style="font-weight: bold;"
      >{{inventoryWeight}} / {{maxCarryCapacity}}</span
    ></span
  >
  <div class="currency">
    <label for="data.details.currency">{{localize "SWADE.Currency"}} </label>
    <input
      name="data.details.currency"
      type="text"
      value="{{data.details.currency}}"
      placeholder="{{localize 'SWADE.Currency'}}"
      data-dtype="Number"
    />
  </div>
</div>
<div class="inventory-categories resizable" data-base-size="560">
  {{!-- This is melee weapons only --}}
  <div class="items-section">
    <li class="item-titles flexrow melee-columns">
      <div class="item-name">{{localize "SWADE.MeleeWeapons"}}</div>
      <div class="field-long">{{localize "SWADE.Dmg"}}</div>
      <div class="field-short">{{localize "SWADE.Ap"}}</div>
      <div class="field-longer">{{localize "SWADE.Notes"}}</div>
      <div class="field-short">{{localize "SWADE.Weight"}}</div>
      <div class="item-controls">
        <a class="item-create" data-type="weapon"
          ><i class="fa fa-plus"></i> {{localize "SWADE.Add"}}</a
        >
      </div>
    </li>
    <ol class="item-list">
      {{#each data.owned.inventory.weapons as |item|}} {{#if (isEmpty
      item.data.range)}}
      <li class="item weapon flexrow melee-columns" data-item-id="{{item._id}}">
        <div class="item-name flexrow rollable">
          <div
            class="item-image"
            style="background-image: url({{item.img}})"
          ></div>
          <h4 title="{{item.name}}">
            {{item.name~}}
          </h4>
        </div>
        <div class="field-long">
          <a class="damage-roll" title="{{localize 'SWADE.Roll'}}"
            >{{item.data.damage}}</a
          >
        </div>
        <div class="field-short">
          {{item.data.ap}}
        </div>
        <div class="field-longer" title="{{item.data.notes}}">
          {{item.data.notes}}
        </div>
        <div class="field-short">
          {{item.data.weight}}
        </div>
        <div class="item-controls">
          {{#if ../owner}}
          <a
            class="item-control item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
            title='{{localize "SWADE.Equipped"}}'
            ><i class="fas fa-tshirt"></i
          ></a>
          <a
            class="item-control item-edit"
            title='{{localize "SWADE.ItemEdit"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a
            class="item-control item-delete"
            title='{{localize "SWADE.ItemDelete"}}'
            ><i class="fas fa-trash"></i
          ></a>
          {{/if}}
        </div>
      </li>
      {{/if}} {{/each}}
    </ol>
  </div>
  <div class="items-section">
    {{!-- This is ranged weapons only --}}
    <li class="item-titles flexrow">
      <div class="item-name">{{localize "SWADE.RangedWeapons"}}</div>
      <div class="field-long">{{localize "SWADE.Rng"}}</div>
      <div class="field-long">{{localize "SWADE.Dmg"}}</div>
      <div class="field-short">{{localize "SWADE.Ap"}}</div>
      <div class="field-short">{{localize "SWADE.RoF"}}</div>
      <div class="field-short">{{localize "SWADE.Mag"}}</div>
      <div class="field-short">{{localize "SWADE.Weight"}}</div>
      <div class="item-controls">
        <a class="item-create" data-range="12/24/48" data-type="weapon"
          ><i class="fa fa-plus"></i> {{localize "SWADE.Add"}}</a
        >
      </div>
    </li>

    <ol class="item-list">
      {{#each data.owned.inventory.weapons as |item|}} {{#unless (isEmpty
      item.data.range)}}
      <li
        class="item weapon flexrow ranged-columns"
        data-item-id="{{item._id}}"
      >
        <div class="item-name flexrow rollable">
          <div
            class="item-image"
            style="background-image: url({{item.img}})"
          ></div>
          <h4 title="{{item.name}}">
            {{item.name~}}
          </h4>
        </div>
        <div class="field-long">
          {{item.data.range}}
        </div>
        <div class="field-long">
          <a class="damage-roll" title="{{localize 'SWADE.Roll'}}"
            >{{item.data.damage}}</a
          >
        </div>
        <div class="field-short">
          {{item.data.ap}}
        </div>
        <div class="field-short">
          {{item.data.rof}}
        </div>
        <div class="field-short">
          {{item.data.shots}}
        </div>
        <div class="field-short">
          {{item.data.weight}}
        </div>
        <div class="item-controls">
          {{#if ../owner}}
          <a
            class="item-control item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
            title='{{localize "SWADE.Equipped"}}'
            ><i class="fas fa-tshirt"></i
          ></a>
          <a class="item-control item-edit" title='{{localize "SWADE.Ed"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title='{{localize "SWADE.Del"}}'
            ><i class="fas fa-trash"></i
          ></a>
          {{/if}}
        </div>
      </li>
      {{/unless}} {{/each}}
    </ol>
  </div>
  <div class="items-section">
    <li class="item-titles flexrow">
      <div class="item-name">{{localize "SWADE.Armors"}}</div>
      <div class="field-short">{{localize "SWADE.Armor"}}</div>
      <div class="field-short">{{localize "SWADE.MinStrShort"}}</div>
      <div class="field-longer">{{localize "SWADE.Notes"}}</div>
      <div class="field-short">{{localize "SWADE.Weight"}}</div>
      <div class="item-controls">
        <a class="item-create" data-type="armor"
          ><i class="fa fa-plus"></i> {{localize "SWADE.Add"}}</a
        >
      </div>
    </li>

    <ol class="item-list">
      {{#each data.owned.inventory.armors as |item|}}
      <li class="item flexrow armor-columns" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
          <div
            class="item-image"
            style="background-image: url({{item.img}})"
          ></div>
          <h4 title="{{item.name}}">
            {{item.name~}}
          </h4>
        </div>
        <div class="field-short">
          {{item.data.armor}}
        </div>
        <div class="field-short">
          {{item.data.minStr}}
        </div>
        <div class="field-longer" title="{{item.data.notes}}">
          {{item.data.notes}}
        </div>
        <div class="field-short">
          {{item.data.weight}}
        </div>
        <div class="item-controls">
          {{#if ../owner}}
          <a
            class="item-control item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
            title='{{localize "SWADE.Equipped"}}'
            ><i class="fas fa-tshirt"></i
          ></a>
          <a class="item-control item-edit" title='{{localize "SWADE.Ed"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title='{{localize "SWADE.Del"}}'
            ><i class="fas fa-trash"></i
          ></a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="items-section">
    <li class="item-titles flexrow">
      <div class="item-name">{{localize "SWADE.Shields"}}</div>
      <div class="field-short">{{localize "SWADE.Parry"}}</div>
      <div class="field-short">{{localize "SWADE.Cover"}}</div>
      <div class="field-short">{{localize "SWADE.MinStrShort"}}</div>
      <div class="field-short">{{localize "SWADE.Weight"}}</div>
      <div class="item-controls">
        <a class="item-create" data-type="shield"
          ><i class="fa fa-plus"></i> {{localize "SWADE.Add"}}</a
        >
      </div>
    </li>

    <ol class="item-list">
      {{#each data.owned.inventory.shields as |item|}}
      <li class="item flexrow shield-columns" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
          <div
            class="item-image"
            style="background-image: url({{item.img}})"
          ></div>
          <h4 title="{{item.name}}">
            {{item.name~}}
          </h4>
        </div>
        <div class="field-short">
          {{item.data.parry}}
        </div>
        <div class="field-short">
          {{item.data.cover}}
        </div>
        <div class="field-short">
          {{item.data.minStr}}
        </div>
        <div class="field-short">
          {{item.data.weight}}
        </div>
        <div class="item-controls">
          {{#if ../owner}}
          <a
            class="item-control item-toggle {{#unless item.data.equipped}}item-unequipped{{/unless}}"
            title='{{localize "SWADE.Equipped"}}'
            ><i class="fas fa-tshirt"></i
          ></a>
          <a class="item-control item-edit" title='{{localize "SWADE.Ed"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title='{{localize "SWADE.Del"}}'
            ><i class="fas fa-trash"></i
          ></a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
  <div class="items-section">
    {{!-- This is misc items only --}}
    <li class="item-titles flexrow">
      <div class="item-name">{{localize "SWADE.Misc"}}</div>
      <div class="field-longer">{{localize "SWADE.Notes"}}</div>
      <div class="field-short">{{localize "SWADE.Quantity"}}</div>
      <div class="field-short">{{localize "SWADE.Weight"}}</div>
      <div class="item-controls">
        <a class="item-create" data-type="gear"
          ><i class="fa fa-plus"></i> {{localize "SWADE.Add"}}</a
        >
      </div>
    </li>

    <ol class="item-list">
      {{#each data.owned.inventory.gear as |item|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
          <div
            class="item-image"
            style="background-image: url({{item.img}})"
          ></div>
          <h4 title="{{item.name}}">
            {{item.name~}}
          </h4>
        </div>
        <div class="field-longer" title="{{item.data.notes}}">
          {{item.data.notes}}
        </div>
        <div class="field-short">
          {{item.data.quantity}}
        </div>
        <div class="field-short">
          {{item.data.weight}}
        </div>
        <div class="item-controls">
          {{#if ../owner}}
          <a class="item-control item-edit" title='{{localize "SWADE.Ed"}}'
            ><i class="fas fa-edit"></i
          ></a>
          <a class="item-control item-delete" title='{{localize "SWADE.Del"}}'
            ><i class="fas fa-trash"></i
          ></a>
          {{/if}}
        </div>
      </li>
      {{/each}}
    </ol>
  </div>
</div>
