<section class="flexrow attributes-container">
  <div class="attributes secondary">
    <header class="header-field">
      <span>{{ localize "SWADE.Derived" }}</span>
    </header>
    <div class="flexrow attributes-list">
      <div class="attribute flex2">
        <div class="attribute-label">{{localize "SWADE.Size"}}</div>
        <input
          id="data.stats.size"
          name="data.stats.size"
          type="text"
          value="{{data.stats.size}}"
          data-dtype="Number"
        />
      </div>
      <div class="attribute flex2">
        <div class="attribute-label">{{localize "SWADE.Pace"}}</div>
        <input
          id="pace"
          name="data.stats.speed.value"
          type="text"
          value="{{data.stats.speed.value}}"
          placeholder="0"
          data-dtype="Number"
        />
      </div>
      <div class="attribute flex3">
        <div class="attribute-label">{{localize "SWADE.Parry"}}</div>
        <div class="toughness-block">
          <input
            id="parry"
            name="data.stats.parry.value"
            value="{{data.stats.parry.value}}"
            type="text"
            placeholder="0"
            data-dtype="Number"
          />
          {{#if (add parry data.stats.parry.modifier)}}
          <div class="armor-value" id="parry-value">
            {{add parry data.stats.parry.modifier}}
          </div>
          {{/if}}
        </div>
      </div>
      <div class="attribute flex3">
        <div class="attribute-label">{{localize "SWADE.Tough"}}</div>
        <div class="toughness-block">
          <input
            id="toughness"
            name="data.stats.toughness.value"
            type="text"
            value="{{data.stats.toughness.value}}"
            placeholder="0"
            data-dtype="String"
          />
          {{#if (add armor data.stats.toughness.modifier)}}
          <div class="armor-value" id="armor-value">
            {{add armor data.stats.toughness.modifier}}
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{> "systems/swade/templates/actors/partials/attributes.html"}}
</section>
<div class="flexrow">
  <div>
    {{!-- Left panel --}}
    <section class="gear skills">
      <header class="header-field flexrow">
        <div>
          <span>{{localize "SWADE.Skills"}}</span>
        </div>
        <div class="header-field-add">
          <a class="item-create" data-type="skill"
            ><i class="fa fa-plus"></i
          ></a>
        </div>
      </header>
      <div class="skills-list">
        {{#each data.owned.skills as |skill id|}}
        <span
          class="skill item"
          data-item-id="{{skill._id}}"
          style="display: inline-block;"
        >
          <a
            class="contextmenu-edit"
            title="Right Click to {{localize 'SWADE.EditSkill'}}"
          >
            {{#unless @first}}&nbsp;{{/unless}}{{skill.name}}
            d{{skill.data.die.sides}}{{modifier
            skill.data.die.modifier}}{{#unless @last}},{{/unless}}
          </a>
        </span>
        {{/each}}
      </div>
    </section>
    <section class="gear edges">
      <header class="header-field flexrow">
        <div>
          <span>{{localize "SWADE.Edges"}}</span>
        </div>
        <div class="header-field-add">
          <a class="item-create" data-type="edge"><i class="fa fa-plus"></i></a>
        </div>
      </header>
      {{#each data.owned.edges as |edge id|}}
      <span class="item" data-item-id="{{edge._id}}">
        <a class="item-control item-edit" title="{{localize 'SWADE.Ed'}}">
          {{#unless @first}}&nbsp;{{/unless}}{{edge.name}}{{#unless
          @last}},{{/unless}}
        </a>
      </span>
      {{/each}}
    </section>
    <section class="gear hindrances">
      <header class="header-field flexrow">
        <div>
          <span>{{localize "SWADE.Hindrances"}}</span>
        </div>
        <div class="header-field-add">
          <a class="item-create" data-type="hindrance"
            ><i class="fa fa-plus"></i
          ></a>
        </div>
      </header>
      {{#each data.owned.hindrances as |hindrance id|}}
      <span class="item" data-item-id="{{hindrance._id}}">
        <a class="item-control item-edit" title="{{localize 'SWADE.Ed'}}">
          {{#unless @first}}&nbsp;{{/unless}}{{hindrance.name}} {{#if
          hindrance.data.major}}{{localize "SWADE.Major"}}{{else}}{{localize
          "SWADE.Minor"}}{{/if}}{{#unless @last}},{{/unless}}
        </a>
      </span>
      {{/each}}
    </section>
  </div>
  <div>
    {{!-- Right panel --}}
    <section class="gear powers">
      {{#if actor.flags.swade.hasArcaneBackground}}
      <header class="header-field flexrow">
        <div>
          <span>{{localize "SWADE.Pow"}}</span>
        </div>
        <div class="header-field-add">
          <a class="item-create" data-type="power"
            ><i class="fa fa-plus"></i
          ></a>
        </div>
      </header>
      <div class="quickaccess-list">
        <ol class="gear-list power-list">
          {{#each data.owned.powers}} {{>
          "systems/swade/templates/actors/partials/powers-card.html"
          owner=../owner}} {{/each}}
        </ol>
      </div>
      {{/if}}
    </section>
    <section class="inventory gear">
      <header class="header-field flexrow">
        <div>
          <span>{{localize "SWADE.Inv"}}</span>
        </div>
        <div class="header-field-add">
          <a class="item-create" data-type="choice"
            ><i class="fa fa-plus"></i
          ></a>
        </div>
      </header>
      <div class="quickaccess-list">
        <ol class="gear-list weapon-list">
          {{#each data.owned.weapons}} {{>
          "systems/swade/templates/actors/partials/weapon-card.html"
          owner=../owner}} {{/each}}
        </ol>
        <ol class="gear-list armor-list">
          {{#each data.owned.armors}} {{>
          "systems/swade/templates/actors/partials/armor-card.html"
          owner=../owner}} {{/each}}
        </ol>
        <ol class="gear-list shield-list">
          {{#each data.owned.shields}} {{>
          "systems/swade/templates/actors/partials/shield-card.html"
          owner=../owner}} {{/each}}
        </ol>
        <ol class="gear-list items-list">
          {{#each data.owned.gear}} {{>
          "systems/swade/templates/actors/partials/misc-card.html"
          owner=../owner}} {{/each}}
        </ol>
      </div>
    </section>
    <section class="description">
      <header class="header-field">
        <span>{{localize "SWADE.Desc"}}</span>
      </header>
      <div>
        {{editor content=data.details.biography.value
        target="data.details.biography.value" button=true owner=owner
        editable=editable}}
      </div>
    </section>
  </div>
</div>
