.swade.sheet.actor.npc {
  min-width: 540px;
  min-height: 240px;
  max-height: 740px;
  .header-field {
    padding: 1px;
  }
  .sheet-header {
    .profile-img-container {
      height: 120px;
    }
    .conviction {
      width: 30%;
    }
    .status-container {
      margin-left: auto;
    }
  }
  .extra-gear-card {
    border-bottom: $decorative-line;
    padding-bottom: 2px;
    margin-bottom: 2px;
    .stats {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .card-stat {
        flex-grow: 1;
        flex-basis: 140px;
      }
    }
    .item-controls {
      flex-grow: 0;
      flex-basis: 40px;
    }
  }
  .editor {
    height: 165px;
  }

  .vitals {
    .vitals-container {
      margin: 10px 8px;
      padding: 3px;
      text-align: center;
      .counter {
        line-height: 25px;
      }
    }
  }

  // Summary
  .skills {
    margin: 5px 0;
    padding: 2px;
    overflow: auto;
    .skills-list {
      span {
        a:hover {
          border-bottom: 1px dotted #293133;
        }
      }
    }
  }

  //Gear
  .gear {
    margin: 5px 0px 0px 0px;
    &.inventory {
      margin: 0;
    }
    padding: 2px;
    .gear-list {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        > * {
          background: transparent;
        }
      }
      .gear-card {
        margin: 2px;
        border: $decorative-line;
        border-top-left-radius: 4px;
        .card-header {
          background: rgba(0, 0, 0, 0.2);
          line-height: 20px;
          cursor: pointer;
          .item-name {
            margin: 0;
            text-indent: 20px;
            font-weight: 600;
          }
          .item-image {
            height: 20px;
            flex-grow: 0;
            background-size: contain;
            flex-basis: 20px;
          }
          .item-controls {
            flex: 0 0 32px;
          }
        }
        .card-content {
          border-top: $decorative-line;
          background: rgba(255, 255, 255, 0.05);
          line-height: 18px;
          padding: 5px;
          overflow: hidden;
          display: flex;
          flex-flow: row wrap;
          justify-content: space-evenly;
          div {
            flex-grow: 1;
            flex-basis: 130px;
          }
        }
        .chips {
          span {
            padding-bottom: 8px;
          }
          display: flex;
          flex-direction: row;
          justify-content: center;
          .chip {
            padding: 0px 5px 5px 5px;
            font-size: 10px;
            .chip-content {
              padding: 2px 5px;
              height: auto;
              background-color: #bbb;
              border-radius: 25%;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
